.titleBar {
    margin: auto;
    font-weight: bold;
    font-size: 200%;
    color: #d9d9d9;
    text-align: center;
}

.navbar {
    color: #d9d9d9;
}

.navSpacer {
    margin: auto;
}

.courseAssign {
    font-weight: bold;
    position: relative;
}

.courseAssignEle {
    position: relative;
    float: right;
    padding: 1vh;
}

#loginForm {
    position: relative;
}

select {
    min-width: 20vw;
}

#questionPoolDiv {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#assignmentQuestionPoolDiv {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#newQuestionDiv {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.tablesContainer {
    padding-top: 3vh;
    padding-right: 5vw;
    padding-bottom: 3vh;
    padding-left: 5vw;
}

#invalidUserDiv {
    padding-left: 3vh;
}

th {
    position: sticky;
}

td {
    white-space: nowrap;
}